[submodule "ext/tileson"]
	path = ext/tileson
	url = https://github.com/SSBMTonberry/tileson.git
[submodule "ext/json"]
	path = ext/json
	url = https://github.com/nlohmann/json.git
[submodule "ext/gflags"]
	path = ext/gflags
	url = https://github.com/gflags/gflags.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
